html, body {
    width:  100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

canvas {
    position: absolute;
}

.textStyle {
    font-size:20px;
    font-style:italic;
    color:rgb(44,38,34);
    text-align:left;
}